# Viewing Figures

This Notebook is inteaded to tranform the data to fit the model parameters

In [193]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [194]:
views_per_hour = "./iplayer_views_per_hour.xlsx"
views_per_hour_df = pd.read_excel(views_per_hour)
#views_per_hour_df = views_per_hour_df.set_index("Hour")
views_per_hour_df = views_per_hour_df.drop(columns=["Hour"])
views_per_hour_df

,January,February,March,April,May,June,July,August,September,October,November,December
0,00:01:00.944000,00:00:56.460000,00:00:42.908000,00:00:51.723000,00:00:56.163000,00:00:57.241000,00:00:57.922000,00:01:00.320000,00:00:59.063000,00:01:01.494000,00:01:12.619000,00:01:27.769000
1,00:00:33.624000,00:00:31.642000,00:00:26.591000,00:00:27.259000,00:00:28.081000,00:00:28.621000,00:00:28.961000,00:00:30.975000,00:00:30.330000,00:00:31.578000,00:00:37.388000,00:00:45.188000
2,00:00:20.976000,00:00:19.234000,00:00:17.526000,00:00:17.474000,00:00:18.228000,00:00:18.578000,00:00:18.799000,00:00:17.933000,00:00:17.559000,00:00:18.282000,00:00:22.289000,00:00:26.939000
3,00:00:15.411000,00:00:14.891000,00:00:11.482000,00:00:13.979000,00:00:12.316000,00:00:12.553000,00:00:12.702000,00:00:12.227000,00:00:11.972000,00:00:12.465000,00:00:17.256000,00:00:20.856000
4,00:00:13.387000,00:00:12.409000,00:00:10.274000,00:00:10.484000,00:00:09.853000,00:00:10.042000,00:00:10.162000,00:00:12.227000,00:00:11.972000,00:00:12.465000,00:00:13.661000,00:00:16.511000
5,00:00:15.937000,00:00:16.752000,00:00:14.504000,00:00:15.377000,00:00:14.287000,00:00:14.561000,00:00:14.735000,00:00:16.303000,00:00:15.963000,00:00:16.620000,00:00:16.537000,00:00:19.987000
6,00:00:40.980000,00:00:44.672000,00:00:43.512000,00:00:43.335000,00:00:43.354000,00:00:44.186000,00:00:44.712000,00:00:42.387000,00:00:41.504000,00:00:43.212000,00:00:38.107000,00:00:46.057000
7,00:01:20.442000,00:01:26.861000,00:01:28.234000,00:01:28.768000,00:01:10.943000,00:01:12.305000,00:01:13.165000,00:01:20.698000,00:01:19.017000,00:01:22.269000,00:01:11.181000,00:01:26.031000
8,00:01:25.754000,00:01:34.307000,00:01:28.234000,00:01:36.456000,00:01:24.244000,00:01:25.862000,00:01:26.884000,00:01:29.664000,00:01:27.797000,00:01:31.410000,00:01:24.842000,00:01:42.542000
9,00:01:24.995000,00:01:32.445000,00:01:20.982000,00:01:32.262000,00:01:21.781000,00:01:23.351000,00:01:24.343000,00:01:23.143000,00:01:21.412000,00:01:24.762000,00:01:26.280000,00:01:44.280000
10,00:01:20.442000,00:01:18.796000,00:01:12.521000,00:01:18.982000,00:01:09.957000,00:01:11.300000,00:01:12.149000,00:01:11.731000,00:01:10.238000,00:01:13.128000,00:01:16.214000,00:01:32.114000
11,00:01:15.889000,00:01:15.693000,00:01:07.082000,00:01:10.595000,00:01:05.031000,00:01:06.279000,00:01:07.068000,00:01:07.656000,00:01:06.247000,00:01:08.973000,00:01:12.619000,00:01:27.769000
12,00:01:21.960000,00:01:18.175000,00:01:14.334000,00:01:14.788000,00:01:08.972000,00:01:10.296000,00:01:11.133000,00:01:12.546000,00:01:11.036000,00:01:13.959000,00:01:17.652000,00:01:33.852000
13,00:01:34.102000,00:01:33.066000,00:01:22.190000,00:01:23.176000,00:01:21.288000,00:01:22.849000,00:01:23.835000,00:01:22.328000,00:01:20.614000,00:01:23.931000,00:01:26.280000,00:01:44.280000
14,00:01:28.031000,00:01:24.380000,00:01:16.751000,00:01:15.487000,00:01:23.752000,00:01:25.360000,00:01:26.375000,00:01:17.437000,00:01:15.825000,00:01:18.945000,00:01:19.809000,00:01:36.459000
15,00:01:38.655000,00:01:29.343000,00:01:23.399000,00:01:16.885000,00:01:34.590000,00:01:36.406000,00:01:37.553000,00:01:21.513000,00:01:19.815000,00:01:23.100000,00:01:28.437000,00:01:46.887000
16,00:02:07.493000,00:01:57.263000,00:01:48.781000,00:01:39.951000,00:01:48.877000,00:01:50.968000,00:01:52.288000,00:01:46.782000,00:01:44.558000,00:01:48.861000,00:01:47.850000,00:02:10.350000
17,00:02:32.536000,00:02:20.219000,00:02:08.724000,00:02:05.113000,00:02:04.149000,00:02:06.533000,00:02:08.039000,00:02:10.421000,00:02:07.705000,00:02:12.959000,00:02:10.139000,00:02:37.289000
18,00:02:55.303000,00:02:45.657000,00:02:35.315000,00:02:30.276000,00:02:18.436000,00:02:21.095000,00:02:22.773000,00:02:41.396000,00:02:38.035000,00:02:44.537000,00:02:30.990000,00:03:02.490000
19,00:03:11.999000,00:02:53.102000,00:02:43.172000,00:02:39.362000,00:02:27.797000,00:02:30.635000,00:02:32.427000,00:03:01.774000,00:02:57.989000,00:03:05.312000,00:02:43.213000,00:03:17.263000
20,00:03:30.212000,00:03:06.752000,00:02:56.467000,00:02:58.234000,00:02:37.650000,00:02:40.677000,00:02:42.589000,00:03:24.597000,00:03:20.337000,00:03:28.580000,00:02:57.593000,00:03:34.643000
21,00:03:21.864000,00:02:59.927000,00:02:54.050000,00:03:01.729000,00:02:27.797000,00:02:30.635000,00:02:32.427000,00:03:25.413000,00:03:21.135000,00:03:29.411000,00:02:55.436000,00:03:32.036000
22,00:03:21.864000,00:02:54.964000,00:02:42.567000,00:02:50.546000,00:02:31.738000,00:02:34.652000,00:02:36.492000,00:03:11.555000,00:03:07.566000,00:03:15.284000,00:03:03.345000,00:03:41.595000
23,00:02:05.197000,00:01:42.993000,00:01:23.399000,00:01:35.757000,00:01:59.715000,00:02:02.014000,00:02:03.466000,00:02:07.975000,00:02:05.310000,00:02:10.466000,00:02:07.263000,00:02:33.813000

covert to fractions

In [195]:
def convet_to_fraction(cell):
    #print(cell)
    #print(str(cell))
    array = str(cell).split(":")
    hour = array[0]
    minutes = array[1]
    seconds= array[2]
    hour = int(hour) * 60
    seconds = float(seconds)/60
    minutes_fraction = int(hour)+int(minutes)+float(seconds)
    return minutes_fraction

views_per_hour_df = views_per_hour_df.applymap(convet_to_fraction)
views_per_hour_df

,January,February,March,April,May,June,July,August,September,October,November,December
0,1.015733,0.941000,0.715133,0.862050,0.936050,0.954017,0.965367,1.005333,0.984383,1.024900,1.210317,1.462817
1,0.560400,0.527367,0.443183,0.454317,0.468017,0.477017,0.482683,0.516250,0.505500,0.526300,0.623133,0.753133
2,0.349600,0.320567,0.292100,0.291233,0.303800,0.309633,0.313317,0.298883,0.292650,0.304700,0.371483,0.448983
3,0.256850,0.248183,0.191367,0.232983,0.205267,0.209217,0.211700,0.203783,0.199533,0.207750,0.287600,0.347600
4,0.223117,0.206817,0.171233,0.174733,0.164217,0.167367,0.169367,0.203783,0.199533,0.207750,0.227683,0.275183
5,0.265617,0.279200,0.241733,0.256283,0.238117,0.242683,0.245583,0.271717,0.266050,0.277000,0.275617,0.333117
6,0.683000,0.744533,0.725200,0.722250,0.722567,0.736433,0.745200,0.706450,0.691733,0.720200,0.635117,0.767617
7,1.340700,1.447683,1.470567,1.479467,1.182383,1.205083,1.219417,1.344967,1.316950,1.371150,1.186350,1.433850
8,1.429233,1.571783,1.470567,1.607600,1.404067,1.431033,1.448067,1.494400,1.463283,1.523500,1.414033,1.709033
9,1.416583,1.540750,1.349700,1.537700,1.363017,1.389183,1.405717,1.385717,1.356867,1.412700,1.438000,1.738000
10,1.340700,1.313267,1.208683,1.316367,1.165950,1.188333,1.202483,1.195517,1.170633,1.218800,1.270233,1.535233
11,1.264817,1.261550,1.118033,1.176583,1.083850,1.104650,1.117800,1.127600,1.104117,1.149550,1.210317,1.462817
12,1.366000,1.302917,1.238900,1.246467,1.149533,1.171600,1.185550,1.209100,1.183933,1.232650,1.294200,1.564200
13,1.568367,1.551100,1.369833,1.386267,1.354800,1.380817,1.397250,1.372133,1.343567,1.398850,1.438000,1.738000
14,1.467183,1.406333,1.279183,1.258117,1.395867,1.422667,1.439583,1.290617,1.263750,1.315750,1.330150,1.607650
15,1.644250,1.489050,1.389983,1.281417,1.576500,1.606767,1.625883,1.358550,1.330250,1.385000,1.473950,1.781450
16,2.124883,1.954383,1.813017,1.665850,1.814617,1.849467,1.871467,1.779700,1.742633,1.814350,1.797500,2.172500
17,2.542267,2.336983,2.145400,2.085217,2.069150,2.108883,2.133983,2.173683,2.128417,2.215983,2.168983,2.621483
18,2.921717,2.760950,2.588583,2.504600,2.307267,2.351583,2.379550,2.689933,2.633917,2.742283,2.516500,3.041500
19,3.199983,2.885033,2.719533,2.656033,2.463283,2.510583,2.540450,3.029567,2.966483,3.088533,2.720217,3.287717
20,3.503533,3.112533,2.941117,2.970567,2.627500,2.677950,2.709817,3.409950,3.338950,3.476333,2.959883,3.577383
21,3.364400,2.998783,2.900833,3.028817,2.463283,2.510583,2.540450,3.423550,3.352250,3.490183,2.923933,3.533933
22,3.364400,2.916067,2.709450,2.842433,2.528967,2.577533,2.608200,3.192583,3.126100,3.254733,3.055750,3.693250
23,2.086617,1.716550,1.389983,1.595950,1.995250,2.033567,2.057767,2.132917,2.088500,2.174433,2.121050,2.563550

Need to convert to 365 days for 0-23 Hours a day. Applying the months to the suitable days. Base of 2022

In [196]:
jan_index = 31
feb_index = jan_index + 28
mar_index = feb_index + 31
apr_index = mar_index + 30
may_index = apr_index + 31
jun_index = may_index + 30
jul_index = jun_index + 31
aug_index = jul_index + 31
sep_index = aug_index + 30
oct_index = sep_index + 31
nov_index = oct_index + 30
dec_index = nov_index + 31

month_index = {jan_index:"January",feb_index:"February",mar_index:"March",apr_index:"April",may_index:"May",jun_index:"June",jul_index:"July",aug_index:"August",sep_index:"September",oct_index:"October",nov_index:"November",dec_index:"December"}

def get_referance_month(day_num, month_index):
    for index in month_index:
        index = index
        if day_num < index:
            return month_index[index]
            break

In [197]:
output_df = pd.DataFrame()
output_df["group"] = []
output_df["ref value"] = []
output_df["day"]=[]
output_df["hour"]=[]

for day_num in range(0,365):
    reference_month = get_referance_month(day_num,month_index)
    reference_times = views_per_hour_df[reference_month]
    for hour_num in range(0,24):
        datetime_value = "d_"+str(day_num).zfill(3)+"_h_"+str(hour_num).zfill(2)
        time = reference_times[hour_num]
        row = {"group":datetime_value,"ref value": time,"day":day_num,"hour":hour_num}
        output_df = output_df.append(row,ignore_index=True)

In [198]:
#Day Check
#output_df[output_df["day"]==364]

In [199]:
output_df = output_df.set_index("group")
output_df = output_df.drop(columns=["day","hour"])
output_df

            ref value
group
d_000_h_00   1.015733
d_000_h_01   0.560400
d_000_h_02   0.349600
d_000_h_03   0.256850
d_000_h_04   0.223117
...               ...
d_364_h_19   3.287717
d_364_h_20   3.577383
d_364_h_21   3.533933
d_364_h_22   3.693250
d_364_h_23   2.563550

[8760 rows x 1 columns]

Output to file

In [201]:
output_filename = "./datasets/viewing_times_input.xlsx"
output_df.to_excel(output_filename)